<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Тетсовое задание</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    </head>
    <style>
        #chartdiv {
          width: 100%;
          height: 500px;
        }
    </style>
    <body>
        <select id="ticker_list">
            {% for el in ticker_list %}
                <option value="{{el}}">{{el}}</option>
            {% endfor %}
        </select>
        <button id="get_prices" onclick="get_prices()">Get Prices</button>
        <ul id="result"></ul>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="static/index.js"></script>
</html>